$btn-focus-box-shadow: none !important;
$theme-colors: ("primary": #3fada8, );

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import '~bootstrap/scss/bootstrap';

* {
  transition-duration: 300ms;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #090c08;
}

.main-heading {
  position: relative;
  overflow: hidden;
}

.main-heading:before {
  content: "";
  display: inline-block;
  height: .5em;
  vertical-align: bottom;
  width: 1%;
  margin-right: 10px;
  border-top: 1px solid #3fada8;
}

.main-heading:after {
  content: "";
  display: inline-block;
  height: .5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #3fada8;
}

.badge-main {
  background-color: #57a39f;
  color: #fbfbff;
}

.badge-main:hover {
  background-color: #3fada8;
}